/* ===============================
   Colour Palette:
   ---------------
   Dark Grey/Gris Foncé:	                         #465065
   Light Grey/Gris Claire:			                   #9aa0ab
   Very Light Grey/Gris Très Claire (footer):       #b9c0c6
   Red/Rouge:			                               #f0454c
   Hover on icons, button and "More ->"             #000
   =============================== */

/* General */

html {
   box-sizing: border-box;
}

*, *:before, *:after {
   box-sizing: inherit;
}
nav{
   text-decoration: none;
   float:right;
   padding-right: 90px;
   word-spacing: 25px;
   position: relative;
   top:30px;
   font-weight: normal;

}
nav a{
   color: #465065;
}

nav a:hover{
   text-decoration: none;
}

/*nav i{
word-spacing: 5px;
}*/

header{
      background-image:url(../images/header.jpg);
      height: 1100px;
      width: 1295px;
      background-repeat: no-repeat;
      background-size: cover;
}
header p{
   color:white;
   background-color: #f0454c;
   width: 150px;
   height:80px;
   border-radius:10px;
   float: center;
   margin-left: 240px;
   position: relative;
   font-weight:bold;
   font-size: 20px;
   margin-top: 10px;
   padding-top: 30px;
   padding-left: 13px;
}

h1{
  font-size: 50px;

}

a{
   color:black;
   text-decoration: none;
}

body{
   position:relative;
   left:-10px;
   margin-right: 180px;
   top:-17px;
   font-family: 'Open Sans', sans-serif;
  
}
header i{
   color: #f0454c;
}

.team{
   display: flex;
}

.figure{
   display: flex;
   padding-top: 60px;
}
.figure p{
color:grey;
}

.titres{
   display: flex;

}
.presentation img{
   border-radius: 60px;
   width: 120px;
   height:120px;
   margin-top: 60px;

}

footer{
   display:flex;
   flex-direction: row;
   justify-content: space-between;
}
footer p{

   color: #b9c0c6;
   font-size: 14px;
   padding-top: 10px;
}

footer{
   border-top: 1px solid lightgrey;
   margin-top: 90px;
   padding-top: 10px;
   margin-left: 180px;
   word-spacing: 10px;

}

footer i{
   padding-top: 25px;
   color: #b9c0c6;
}

.entete h4{
   color: #465065;
   font-size: 24px;
   font-weight: normal;
   padding-bottom: 15px;
   font-family: 'Open Sans', sans-serif;

}
.entete a {
   background-color: #f0454c;
   border-radius: 5px;
   float:center;
   color:white;
   font-size: 15px;
   padding-top: 10px;
   padding: 30px;
   font-weight: bold;

}
.team p{
   color: #b9c0c6;
}

.fa-long-arrow-right{
   color: #f0454c;
}

h3{
   color:#465065;
   font-size: 30px;
   font-family: 'Montserrat', sans-serif;
}
h2{
   color: #465065;
   font-size: 40px;
}
.presentation p{
   color:#9aa0ab;
   font-size: 15px;

}
.team h4{
   color: #f0454c;
}

.titre{
    text-align: center;
   font-size: 30px;
   color: #465065;
   padding: 270px;
   text-align:left;
   padding-top: 300px;
}

.entete{
   padding-left: 10px;
   margin-left: 2px;
   position: relative;
   right:58px;
   margin-top: -50px;
}

.titres, .presentation, .figure{
   margin-left: 190px;
}

.presentation2{
   display: flex;
}

.titres a {
   color:#f0454c;
}

.figure a{
   color:#f0454c;
}

.presentation a,i {
   color:#f0454c;
}
.presentation h4{
   color: #f0454c;
}

.figure h4{
   color: #465065;
}

h1:before{
   content:"";
   height: 6px;
   width:70px;
   background:#f0454c;
   display: block;
   margin-bottom: 15px;
}

h2:before{
   content:"";
   height: 6px;
   width: 70px;
   background:#f0454c;
   display: block;
   margin-bottom: 15px;
}

.titres h3:before{
    content:"";
   height: 6px;
   width: 70px;
   background:#f0454c;
   display: block;
   margin-bottom: 15px;
}
.titres h3{
   font-size: 26px;
}

.presentation a{
   float: right;
   margin-top: 20px;
   margin-bottom: 20px;

}
.fa-instagram{
   color: black;

}