/* ===============================
   Colour Palette:
   ---------------
   Dark Grey/Gris Foncé:	                         #465065
   Light Grey/Gris Claire:			                   #9aa0ab
   Very Light Grey/Gris Très Claire (footer):       #b9c0c6
   Red/Rouge:			                               #f0454c
   Hover on icons, button and "More ->"             #000
   =============================== */

/* General */

html {
   box-sizing: border-box;
}

*, *:before, *:after {
   box-sizing: inherit;
}
nav{
   text-decoration: none;
   color:black;
   float:right;
   padding-right: 90px;
   word-spacing: 30px;


}

nav a:hover{
   text-decoration: none;
}

header{
      background-image:url(../images/header.jpg);
      height: 1100px;
      width: 1280px;
      background-repeat: no-repeat;
}

h1:before{
   display: flex;
   height:4px;
   width: 30px;
   color:#f0454c;

}

a{
   color:black;
   text-decoration: none;
}

body{
   position:relative;
   top:-20px;
   /*right: -20px;*/
   left:-10px;
   margin-right: 180px;
}
header i{
   color: #f0454c;
}

.team{
   display: flex;
}

.figure{
   display: flex;
   padding-top: 60px;
}
.titres{
   display: flex;

}
.presentation img{
   border-radius: 60px;
   width: 120px;
   height:120px;
   margin-top: 60px;

}
footer p{
   text-align: right;
   padding-top: 30px;
   color: #b9c0c6;
}

footer{
   border-top: 1px solid;
   margin-top: 50px;
   padding-top: 10px;
   margin-left: 180px;
   
}
footer i{
   padding-top: 30px;
   color: #b9c0c6;
}

.entete h4{
   color: #465065;
   font-size: 24px;
   padding-bottom: 15px;
   font-family: 'Open Sans', sans-serif;

}
.entete a {
   background-color: #f0454c;
   border-radius: 5px;
   float:center;
   color:white;
   font-size: 15px;
   padding-top: 10px;
   padding: 30px;

}
.team p{
   color: #b9c0c6;
}

.fa-long-arrow-right{
   color: #f0454c;
}

/*.titres2{
   display: flex;
   flex-direction: column;
   width: 33,33%
}*/

h3{
   color:#465065;
   font-size: 30px;
}
h2{
   color: #465065;
   font-size: 40px;
}
.presentation p{
   color:#9aa0ab;
   font-size: 15px;

}
.team h4{
   color: #f0454c;
}

.titre{
    text-align: center;
   font-size: 30px;
   color: #465065;
   padding: 270px;
   text-align:left;
   padding-top: 300px;
}

.entete{
   padding-left: 10px;
   margin-left: 2px;
   position: relative;
   right:58px;
}

.titres, .presentation, .figure{
   margin-left: 190px;
}

.presentation{
   display: flex;
}

.titres a {
   color:#f0454c;
}

.figure a{
   color:#f0454c;
}

.presentation a,i {
   color:#f0454c;
}
.presentation h4{
   color: #f0454c;
}

.figure h4{
   color: #465065;
}

h1:before{
   content:"";
   height: 6px;
   width:70px;
   background:#f0454c;
   display: block;
   margin-bottom: 15px;
}

h2:before{
   content:"";
   height: 6px;
   width: 70px;
   background:#f0454c;
   display: block;
   margin-bottom: 15px;
}

.titres h3:before{
    content:"";
   height: 6px;
   width: 70px;
   background:#f0454c;
   display: block;
   margin-bottom: 15px;
}
.titres h3{
   font-size: 26px;
}