/* ===============================
   Colour Palette:
   ---------------
   Dark Grey/Gris Foncé:	                         #465065
   Light Grey/Gris Claire:			                   #9aa0ab
   Very Light Grey/Gris Très Claire (footer):       #b9c0c6
   Red/Rouge:			                               #f0454c
   Hover on icons, button and "More ->"             #000
   =============================== */

/* General */

html {

   box-sizing: border-box;
}

*, *:before, *:after {

   box-sizing: inherit;
}

nav {

   text-decoration: none;
   float:right;
   padding-right: 90px;
   word-spacing: 25px;
   position: relative;
   top:30px;
   font-weight: normal;

}

nav a, h2, h3,.figure h4 {

   color: #465065;
}

nav a:hover {

   text-decoration: none;
}

header {

   background-image:url(../images/header.jpg);
   height: 1100px;
   width: 1295px;
   background-size: cover;
}

header p {

   color:white;
   background-color: #f0454c;
   width: 150px;
   height:80px;
   border-radius:10px;
   margin-left: 240px;
   font-weight:bold;
   font-size: 20px;
   margin-top: 10px;
   padding-top: 30px;
   padding-left: 13px;
}

.titres a, header i,.presentation i,h4,.figure a,.team h4 {

   color:#f0454c;
}

.entete {

   position: relative;
   right:58px;
   margin-top: -50px;
}

.entete h4 {

   color: #465065;
   font-size: 24px;
   font-weight: normal;
   padding-bottom: 15px;
   font-family: 'Open Sans', sans-serif;

}

.entete a {

   background-color: #f0454c;
   border-radius: 5px;
   float:center;
   color:white;
   font-size: 15px;
   padding-top: 10px;
   padding: 30px;
   font-weight: bold;

}

h1 {

  font-size: 50px;

}

h1:before {

   content:"";
   height: 6px;
   width:70px;
   background:#f0454c;
   display: block;
   margin-bottom: 15px;
}

h2 {

   font-size: 40px;
}


h2:before {

   content:"";
   height: 6px;
   width: 70px;
   background:#f0454c;
   display: block;
   margin-bottom: 10px;
}

h3 {

   font-size: 30px;
   font-family: 'Montserrat', sans-serif;
}

body {

   position:relative;
   left:-10px;
   margin-right: 180px;
   top:-17px;
   font-family: 'Open Sans', sans-serif;
  
}

.team,.titres,.presentation2 {

   display: flex;
}

.figure {

   display: flex;
   padding-top: 60px;
   justify-content: space-between;
}

.figure p {

color:grey;
position: relative;
top: -30px;
font-size: 16px;
}

.figure h4 {

   font-weight: normal;
   position: relative;
   top: -20px;
}

.figure a {
   
   position: relative;
   top: -10px;

}

.titre {

   text-align: center;
   font-size: 30px;
   color: #465065;
   padding: 270px;
   text-align:left;
   padding-top: 300px;
}

.titres h3 {

   font-size: 26px;
}

.titres p {

   background: linear-gradient( to bottom,#465065,#9aa0ab,#b9c0c6 );
   -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.titres h3:before {

   content:"";
   height: 6px;
   width: 70px;
   background:#f0454c;
   display: block;
   margin-bottom: 15px;
}

.presentation a {

   float: right;
   margin-top: 20px;
   margin-bottom: 20px;
   color:#f0454c;

}

.presentation img {

   border-radius: 60px;
   width: 120px;
   height:120px;
   margin-top: 60px;

}

.presentation p {

   color:#9aa0ab;
   font-size: 16px;

}

.titres, .presentation, .figure {

   margin-left: 190px;
}

.team p {

   color: #b9c0c6;
}


footer {

   display:flex;
   justify-content: space-between;
   border-top: 1px solid lightgrey;
   margin-top: 90px;
   margin-left: 180px;
   word-spacing: 10px;
   color: #b9c0c6;
   font-size: 14px;
}

footer p{

   padding-top: 10px;
}

footer i {

   padding-top: 25px;
}

.fa-instagram, a {

   color: black;

}

a {

   text-decoration: none;
}